<table border="4" style="border-radius: 6px;">
    <tr>
        <td>Gustos:</td> <td>Videojuegos:</td><td>Fortnite, Minecraft, Rocket league...</td>
    </tr>
    <tr>
        <td>Trabajo:</td><td>Abarroteria</td><td>7:00am a 11:00am</td>
    </tr>
    <tr>
        <td>Casa:</td><td>Aseo/lavado/cuidado</td><td>Bárro 3 veces a las semana/encargado de los trastes/<br>
        atiendo a mi mascota y sus necesidades</td>
    </tr>
    <tr>
        <td>Lenguaje preferido:</td><td>Php</td><td>Es el que mas he practicado y el que mas me he <br> acoplado</td>
    </tr>
</table>