<table border="4" style="background-color: aqua; border-radius: 6px;">
    <tr>
        <td>Nombre:</td> <td>Omar</td>
    </tr>
    <tr>
        <td>Apellidos:</td> <td>Martinez Ramirez</td>
    </tr>
    <tr>
        <td>Direccion:</td> <td>Paseo de los poetas, calle flores, mz 2 lt 14</td>
    </tr>
    <tr>
        <td>Telefono:</td> <td>5591909152</td>
    </tr>
    <tr>
        <td>Estudios:</td> <td>Preparatoria</td>
    </tr>
    <tr>
        <td>Metas:</td> <td>Ser millonario, ayudar a gente, subir videos de buena calidad a yuoutube 
            <br>que entretenga a gente</td>
    </tr>
    <tr>
        <td>Obstaculos:</td> <td>La clase de aplicaciones para moviles ll</td>
    </tr>
</table>
<!--<img src="Fotomia.png" alt="Fotomia.png" width="500px" height="500px">-->